smantic.dev blog.smantic.dev localhost {
    auto_https off
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		rewrite @404 /404.html
        root * /srv
		file_server
	}
}
