code { 
    font-feature-settings: initial;
}
.logo__cursor {
    background: #59ff73;;
}

body { 
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

.container { 
    flex: 1;
    .post {
        margin: 0px;
    }
}
.container, .content {
    justify-content: flex-start;
}

.footer { 
    display: flex; 
    justify-content: center;
    padding: 10px;
}

blockquote { 
    margin: 20px;
    padding: 5px 20px; 
}

#horizon video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {

  font-size: 52px;
  font-family: "Lucida Console", Arial, serif;
  color: black;
  position:absolute;
  top:15%;
  left:45%;
  z-index:1;
}
